<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="evopdf" version="4.12" targetFramework="net45" />
  <package id="Glimpse" version="1.8.6" targetFramework="net461" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net461" />
  <package id="Glimpse.EF6" version="1.6.5" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="SendGrid" version="2.1.1" targetFramework="net45" />
  <package id="smtpapi" version="1.0.0" targetFramework="net45" />
</packages>