<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Instadose.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Instadose.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Mirion.DSD.GDS.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
		  <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="api_id" value="InstadosePortalApp_5df3kjjbc982" />
    <add key="api_key" value="Ds23asrHUYsAVhj531dHLdxv" />
    <add key="api_psk" value="d0c4e3c499fd81674422c800e521a4edd63ebe188246645625da69c102532411" />
    <add key="api_iv" value="ae24c426f8a0016114bf2e3a5c0a168a" />
    <add key="api_wid" value="InstadoseWebApp_2ffc8s7g0" />
    <!--<add key="api_webaddress" value="https://instadosedev.mirioncorp.com/" />-->
    <add key="api_webaddress" value="http://localhost:58836/" />
    <add key="SoftraxServerAddress" value="http://IRV-SAPL-BI/" />
    <add key="SiteDirectory" value="C:\inetpub\sites\portal.instadose.com\" />
    <add key="aspnet:MaxHttpCollectionKeys" value="50000" />
    <add key="cswebsuite_webaddress" value="https://gds.mirioncorp.com/" />
    <add key="renewalOrderSounce" value="Renewals" />
    <!-- Here are the settings Orbital Paymentech transaction -->
    <add key="OrbitalConnectionUsername" value="T8868MIRION" />
    <add key="OrbitalConnectionPassword" value="PFM27M3DZZR" />
    <add key="IndustryType" value="EC" />
    <add key="BIN" value="000001" />
    <add key="PaymentechHome" value="C:\Paymentech\sdk\DotNet40\7.3.0\" />
    <add key="USD_MerchantID_INSTA" value="251128" />
    <add key="AED_MerchantID_INSTA" value="243824" />
    <add key="AUD_MerchantID_INSTA" value="251127" />
    <add key="BRL_MerchantID_INSTA" value="243824" />
    <add key="CAD_MerchantID_INSTA" value="251146" />
    <add key="EUR_MerchantID_INSTA" value="251126" />
    <add key="GBP_MerchantID_INSTA" value="251123" />
    <add key="ILS_MerchantID_INSTA" value="243824" />
    <add key="JPY_MerchantID_INSTA" value="243824" />
    <add key="KRW_MerchantID_INSTA" value="243824" />
    <add key="NZD_MerchantID_INSTA" value="251121" />
    <add key="USD_MerchantID_UNIX" value="243824" />
    <add key="AED_MerchantID_UNIX" value="243824" />
    <add key="AUD_MerchantID_UNIX" value="251131" />
    <add key="BRL_MerchantID_UNIX" value="243824" />
    <add key="CAD_MerchantID_UNIX" value="251136" />
    <add key="EUR_MerchantID_UNIX" value="251134" />
    <add key="GBP_MerchantID_UNIX" value="251135" />
    <add key="ILS_MerchantID_UNIX" value="243824" />
    <add key="JPY_MerchantID_UNIX" value="243824" />
    <add key="KRW_MerchantID_UNIX" value="243824" />
    <add key="NZD_MerchantID_UNIX" value="251137" />
    <!-- End of settings Orbital Paymentech transaction -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="AXWebServiceUsername" value="IRV-CRMAXService"/>
    <!--<add key="AXWebServicePassword" value="6exVeWi8HsZN"/>-->
    <add key="AXWebServicePassword" value="JXYzZt:OW"/>
    <add key="AXWebServiceDomain" value="Mirion"/>
	<add key="SmtpServer" value="10.200.2.16" />  
  </appSettings>
  <connectionStrings>
	<add name="Instadose.Properties.Settings.InsConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_Insta_Stg;User ID=web_apps;Password=Mirion2011$;Application Name=Portal;" providerName="System.Data.SqlClient" />
    <add name="Instadose.Properties.Settings.MASConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_LCDISMAS_Stg;User ID=web_apps;Password=Mirion2011$;Application Name=Portal;" providerName="System.Data.SqlClient" />
    <add name="Instadose.Properties.Settings.AppConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_LCDISBUS_Stg;User ID=web_apps;Password=Mirion2011$;Application Name=Portal;" providerName="System.Data.SqlClient" />
    <add name="Instadose.Properties.Settings.ReplConnectionString" connectionString="Data Source=okr-s-sqlrpt01.0ee41a972950.database.windows.net;Initial Catalog=Baseline-r02;User ID=ARNUSER;Password=A3n$er@base;Application Name=Portal;" providerName="System.Data.SqlClient" />
    <add name="Mirion.DSD.GDS.API.Properties.Settings.IRV_GDSPortalDevConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_Dosimetry_Stg;Persist Security Info=True;User ID=web_apps;Password=Mirion2011$;Application Name=Portal;" providerName="System.Data.SqlClient" />
    <add name="Mirion.DSD.Docs.DocumentsConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_DosimetryDocs_Stg;User ID=web_apps;Password=Mirion2011$;Application Name=Portal;" providerName="System.Data.SqlClient" />
    <add name="AXEntities" connectionString="metadata=res://*/Contexts.AXModel.csdl|res://*/Contexts.AXModel.ssdl|res://*/Contexts.AXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irv-ssql-db5.mirion.local;initial catalog=MTI_AX_SBX;User ID=web_apps;Password=Mirion2011$;MultipleActiveResultSets=True;App=AXDataLookup&quot;" providerName="System.Data.EntityClient" />

	  <!--
	  <add name="Instadose.Properties.Settings.InsConnectionString" connectionString="Data Source=dbcluster.mirioncorp.com;Initial Catalog=IRV_Insta_Prod;User ID=web_apps;Password=Mirion2011$;Application Name=Portal" providerName="System.Data.SqlClient" />
	  <add name="Instadose.Properties.Settings.MASConnectionString" connectionString="Data Source=dbcluster.mirioncorp.com;Initial Catalog=IRV_LCDISMAS_Prod;User ID=web_apps;Password=Mirion2011$;Application Name=Portal" providerName="System.Data.SqlClient" />
	  <add name="Instadose.Properties.Settings.AppConnectionString" connectionString="Data Source=dbcluster.mirioncorp.com;Initial Catalog=IRV_LCDISBUS_Prod;User ID=web_apps;Password=Mirion2011$;Application Name=Portal" providerName="System.Data.SqlClient" />
	  <add name="Instadose.Properties.Settings.ReplConnectionString" connectionString="Data Source=okr-s-sqlrpt01.0ee41a972950.database.windows.net;Initial Catalog=Baseline-r02;User ID=ARNUSER;Password=A3n$er@base;Application Name=Portal;" providerName="System.Data.SqlClient" />
	  <add name="Mirion.DSD.GDS.API.Properties.Settings.IRV_GDSPortalDevConnectionString" connectionString="Data Source=dbcluster.mirioncorp.com;Initial Catalog=IRV_Dosimetry_Prod;Persist Security Info=True;User ID=web_apps;Password=Mirion2011$;Application Name=Portal" providerName="System.Data.SqlClient" />
	  <add name="Mirion.DSD.Docs.DocumentsConnectionString" connectionString="Data Source=dbcluster.mirioncorp.com;Initial Catalog=IRV_DosimetryDocs_Prod;User ID=web_apps;Password=Mirion2011$;Application Name=Portal" providerName="System.Data.SqlClient" />
	  <add name="AXEntities"
		connectionString="metadata=res://*/Contexts.AXModel.csdl|res://*/Contexts.AXModel.ssdl|res://*/Contexts.AXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irv-s-db01;initial catalog=MTI_AX_PRD;MultipleActiveResultSets=True;Integrated Security=true;App=AXDataLookup&quot;"
		providerName="System.Data.EntityClient"/>
	    -->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" executionTimeout="600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Telerik.Web.Design, Version=2012.1.411.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />
		  <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
		  <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
		  <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
		  <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
		  <add assembly="evohtmltopdf, Version=4.12, Culture=neutral, PublicKeyToken=e1fcbb86597de299" />
		  <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
		  <!--<add assembly="Telerik.Web.Design, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />-->
		  <!--<add assembly="Telerik.Web.UI, Version=2013.3.1015.45, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />-->
	  </assemblies>
	  <buildProviders>
		  <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
	  </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="act" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="telerik" assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
<!--		
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
-->
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Instadose.Properties.Settings>
      <setting name="SendGridUserName" serializeAs="String">
        <value>mirion-sender</value>
      </setting>
      <setting name="SendGridPassword" serializeAs="String">
        <value>7t24nnpKPH7uNEM4EyzGVqB5</value>
      </setting>
      <setting name="SendGridWhitelist" serializeAs="String">
        <value>*@mirion.com</value>
      </setting>
      <setting name="SendGridWhitelistRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </Instadose.Properties.Settings>
    <Instadose.API.Properties.Settings>
      <setting name="InstadoseDomain" serializeAs="String">
        <value>https://instadose.com/</value>
      </setting>
    </Instadose.API.Properties.Settings>
    <Mirion.DSD.GDS.API.Properties.Settings>
      <setting name="LogFile" serializeAs="String">
        <value>\Logs\{Rolling-Handle}.html</value>
      </setting>
      <setting name="InstadoseDomain" serializeAs="String">
        <value>https://instadose.com/</value>
      </setting>
      <setting name="GDSWebServiceBaseUrl" serializeAs="String">
        <value>http://www.dosimetry.com/dx4/cgi-bin/dxserver.cgi</value>
      </setting>
    </Mirion.DSD.GDS.API.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Acc_ExternalStagingQueryService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://irv-sapl-axsbx:8201/DynamicsAx/Services/ACC_ExternalStagingQueryServiceGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Acc_ExternalStagingQueryService"
        contract="AXServiceRef.Acc_ExternalStagingQueryService" name="NetTcpBinding_Acc_ExternalStagingQueryService">
        <identity>
          <userPrincipalName value="irv-svc_axaos_np@mirion.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>