<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Instadose.Properties.Settings.InsConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_Insta_Stg;User ID=web_apps;Password=Mirion2011$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Instadose.Properties.Settings.MASConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_LCDISMAS_Stg;User ID=web_apps;Password=Mirion2011$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Instadose.Properties.Settings.AppConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_LCDISBUS_Stg;User ID=web_apps;Password=Mirion2011$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Mirion.DSD.GDS.API.Properties.Settings.IRV_GDSPortalDevConnectionString" connectionString="Data Source=irv-ssql-db4.mirion.local;Initial Catalog=IRV_Dosimetry_Stg;Persist Security Info=True;User ID=web_apps;Password=Mirion2011$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Mirion.DSD.Docs.DocumentsConnectionString" connectionString="Data Source=IRV-SSQL-DB4.mirion.local;Initial Catalog=IRV_DosimetryDocs_Stg;User ID=web_apps;Password=Mirion2011$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <!--<add
      name="AXEntities"
      connectionString="metadata=res://*/Contexts.AXModel.csdl|res://*/Contexts.AXModel.ssdl|res://*/Contexts.AXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irv-ssql-db5.mirion.local;initial catalog=MTI_AX_SBX;User ID=web_apps;Password=Mirion2011$;MultipleActiveResultSets=True;App=AXDataLookup&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>-->
    <add
      name="AXEntities"
      connectionString="metadata=res://*/Contexts.AXModel.csdl|res://*/Contexts.AXModel.ssdl|res://*/Contexts.AXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=irv-s-db01;initial catalog=MTI_AX_PRD;MultipleActiveResultSets=True;Integrated Security=true;App=AXDataLookup&quot;"
      providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>

  <paypal>
    <settings>
      <add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd=" />
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="3" />
      <add name="binding" value="SOAP" />
      <add name="IPAddress" value="127.0.0.1" />
    </settings>
    <accounts>
      <account apiUsername="ddelap_1338324886_biz_api1.mirion.com" apiPassword="SNKKLEY942SJGRWE" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31ADHDSjgKG5j8APu0X4FyzJnp-MNV" applicationId="APP-INSTADOSEPORTAL" certificateSubject="" signatureSubject="" />
    </accounts>
  </paypal>

  <appSettings>
    <add key="api_webaddress" value="https://instadose.mirioncorp.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SoftraxServerAddress" value="http://IRV-SAPL-BI/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SiteDirectory" value="C:\inetpub\sites\portal.instadose.com\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cswebsuite_webaddress" value="https://gds.mirioncorp.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Here are the settings Orbital Paymentech transaction -->
    <add key="OrbitalConnectionUsername" value="T8868MIRION" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OrbitalConnectionPassword" value="PFM27M3DZZR" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IndustryType" value="EC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BIN" value="000001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PaymentechHome" value="C:\Paymentech\sdk\DotNet40\7.3.0\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="USD_MerchantID_INSTA" value="251128" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AED_MerchantID_INSTA" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AUD_MerchantID_INSTA" value="251127" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BRL_MerchantID_INSTA" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CAD_MerchantID_INSTA" value="251146" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EUR_MerchantID_INSTA" value="251126" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GBP_MerchantID_INSTA" value="251123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ILS_MerchantID_INSTA" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JPY_MerchantID_INSTA" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KRW_MerchantID_INSTA" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NZD_MerchantID_INSTA" value="251121" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="USD_MerchantID_UNIX" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AED_MerchantID_UNIX" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AUD_MerchantID_UNIX" value="251131" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BRL_MerchantID_UNIX" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CAD_MerchantID_UNIX" value="251136" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EUR_MerchantID_UNIX" value="251134" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GBP_MerchantID_UNIX" value="251135" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ILS_MerchantID_UNIX" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JPY_MerchantID_UNIX" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KRW_MerchantID_UNIX" value="243824" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NZD_MerchantID_UNIX" value="251137" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- End of settings Orbital Paymentech transaction -->
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="600" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <applicationSettings>
    <Instadose.Properties.Settings>
      <setting name="SendGridWhitelist" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>*@mirion.com</value>
      </setting>
      <setting name="SendGridWhitelistRequired" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>True</value>
      </setting>
    </Instadose.Properties.Settings>
    <Mirion.DSD.GDS.API.Properties.Settings>
      <setting name="InstadoseDomain" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://instadose.mirioncorp.com/</value>
      </setting>
      <setting name="GDSWebServiceBaseUrl" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://www.dosimetry.com/dx4/cgi-bin/dxserver.cgi</value>
      </setting>
    </Mirion.DSD.GDS.API.Properties.Settings>
  </applicationSettings>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Acc_ExternalStagingQueryService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://irv-sapl-axsbx:8201/DynamicsAx/Services/ACC_ExternalStagingQueryServiceGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Acc_ExternalStagingQueryService"
        contract="AXServiceRef.Acc_ExternalStagingQueryService"
        name="NetTcpBinding_Acc_ExternalStagingQueryService">
        <identity>
          <userPrincipalName value="irv-svc_axaos_np@mirion.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>