<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portal.instadose.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>517498-insta2</MSDeployServiceURL>
    <DeployIisAppPath>portal.instadose.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName></UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Instadose.Properties.Settings.InsConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_Insta_Dev;User ID=web_apps;Password=Mirion2011$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Instadose.Properties.Settings.InsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_Insta_Dev;User ID=web_apps;Password=Mirion2011$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Instadose.Properties.Settings.MASConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_LCDISMAS_Dev;User ID=web_apps;Password=Mirion2011$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Instadose.Properties.Settings.MASConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_LCDISMAS_Dev;User ID=web_apps;Password=Mirion2011$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Instadose.Properties.Settings.AppConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_LCDISBUS_Dev;User ID=web_apps;Password=Mirion2011$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Instadose.Properties.Settings.AppConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_LCDISBUS_Dev;User ID=web_apps;Password=Mirion2011$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Mirion.DSD.Docs.DocumentsConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_DosimetryDocs_Dev;User ID=web_apps;Password=Mirion2011$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Mirion.DSD.Docs.DocumentsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_DosimetryDocs_Dev;User ID=web_apps;Password=Mirion2011$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Mirion.DSD.GDS.API.Properties.Settings.IRV_GDSPortalDevConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_Dosimetry_Dev;Persist Security Info=True;User ID=web_apps;Password=Mirion2011$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Mirion.DSD.GDS.API.Properties.Settings.IRV_GDSPortalDevConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IRV-SSQL-DB4;Initial Catalog=IRV_Dosimetry_Dev;Persist Security Info=True;User ID=web_apps;Password=Mirion2011$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Instadose.Properties.Settings.AppConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Instadose.Properties.Settings.InsConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Instadose.Properties.Settings.MASConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Mirion.DSD.Docs.DocumentsConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Mirion.DSD.GDS.API.Properties.Settings.IRV_GDSPortalDevConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>